@using SPU.ViewModels;
@model List<JourneeTravailleVM>

@{
    int Annee = DateTime.Now.Year;
}

<div class="horizontal-list">
    <ul>
        @for (int mois = 1; mois <= 12; mois++)
        {
            @for (int jour = 1; jour <= DateTime.DaysInMonth(Annee, mois); jour++)
            {
                DateTime journee = new DateTime(Annee, mois, jour); 
                <li>
                    <div class="colonne">
                        <div class="date">
                            @journee.DayOfWeek

                            @switch (journee.Month)
                            {
                                case 1:
                                    <p class="jour-mois">@journee.Day.ToString() Janvier</p>
                                    break;
                                case 2:
                                    <p>@journee.Day.ToString() Février</p>
                                    break;
                                case 3:
                                    <p>@journee.Day.ToString() Mars</p>
                                    break;
                                case 4:
                                    <p>@journee.Day.ToString() Avril</p>
                                    break;
                                case 5:
                                    <p>@journee.Day.ToString() Mai</p>
                                    break;
                                case 6:
                                    <p>@journee.Day.ToString() Juin</p>
                                    break;
                                case 7:
                                    <p>@journee.Day.ToString() Juillet</p>
                                    break;
                                case 8:
                                    <p>@journee.Day.ToString() Août</p>
                                    break;
                                case 9:
                                    <p>@journee.Day.ToString() Septembre</p>
                                    break;
                                case 10:
                                    <p>@journee.Day.ToString() Octobre</p>
                                    break;
                                case 11:
                                    <p>@journee.Day.ToString() Novembre</p>
                                    break;
                                case 12:
                                    <p>@journee.Day.ToString() Décembre</p>
                                    break;
                            }
                        </div>
                        <div class="heures">
                            
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<style>
    .date {
        text-align: center;
        color: black;
        border-bottom: 1px solid grey;
    }

    .jour-mois, p {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .colonne {
        width: 100px;
        height: 550px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 3px;
        display: flex;
        flex-direction: column; /* Afficher les éléments en colonne */
    }

    .horizontal-list {
        overflow-x: auto;
        white-space: nowrap;
    }

        .horizontal-list ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-flex;
        }

    .heures {
        flex-grow: 1;
        border-top: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
    }
</style>
