@using SPU.ViewModels
@model PlageHoraireMdsVM

@{
    ViewData["Title"] = "Ajout Plage horaire Maître de stage";
}

<style>
    .plagehorairemds-fullpage-class {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .plagehorairemds-fullpage-class::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/pexels-denniz-futalan-3452997.jpg");
        background-size: cover;
        filter: blur(12px);
        z-index: -1;
    }

    form {
        position: relative;
        margin: auto;
        border: 3px solid green;
        padding: 10px;
        max-width: 500px;
        background-color: white !important;
        z-index: 1;
    }

    .btn-pageHoraireMds-Confirmer {
        margin-left: 120px;
    }

</style>

<div class="plagehorairemds-fullpage-class">
    <form method="post" asp-controller="Horaire" asp-action="AjoutPlageHoraireMDS">
        <h1>Ajout d'une plage horaire</h1>
        
        <br />
        <hr>

        <div>
            <h2 style="font-size:20px;">Plage horaire début</h2>
        </div>
        <div>
            Date : <input class="form-control" type="date" asp-for="DateDebutPlageHoraire" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        </div>
        <div class="row">
            <div class="col-6">
                <label for="heure">Heure :</label>
                <select asp-for="HeureDebutPlageHoraire" class="form-control">
                    @for (int i = 0; i < 24; i++)
                    {
                        <option value="@i">@i.ToString("00")</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="minutes">Minutes :</label>
                <select asp-for="MinutesDebutPlageHoraire" class="form-control">
                    <option value="0">0</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
        </div>
        <br />

        <div>
            <h2 style="font-size:20px;">Plage horaire fin</h2>
        </div>
        <div>
            Date : <input class="form-control" type="date" asp-for="DateFinPlageHoraire" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        </div>
        <div class="row">
            <div class="col-6">
                <label for="heure">Heure :</label>
                <select asp-for="HeureFinPlageHoraire" class="form-control">
                    @for (int i = 0; i < 24; i++)
                    {
                        <option value="@i">@i.ToString("00")</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="minutes">Minutes :</label>
                <select asp-for="MinutesFinPlageHoraire" class="form-control">
                    <option value="00">0</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <button type="submit" asp-action="Index" asp-controller="Horaire" class="btn btn-secondary btn-pageHoraireMds-Annuler">Annuler</button>
            </div>
            <div class="col-6">
                <button type="submit" asp-action="AjoutPlageHoraireMDS" asp-route-horaireId="@ViewBag.horaireId" asp-controller="Horaire" class="btn btn-primary btn-pageHoraireMds-Confirmer">Confirmer</button>
            </div>
        </div>
    </form>
</div>

