@using SPU.ViewComponents
@using SPU.ViewModels

@model HorairePageVM

@{
    int anneeEnCours = DateTime.Today.Year;
}

<hr />
<div class="horaire-horaire-entete">
    <h2>Horaire SPU</h2>
    <div>
        <label>
            Date début de stage : @(Model.DateDebutStage.HasValue ? Model.DateDebutStage.Value.ToString("d MMMM yyyy") : "N/A") | Date fin de stage : @(Model.DateFinStage.HasValue ? Model.DateFinStage.Value.ToString("d MMMM yyyy") : "N/A")
        </label>
    </div>
    <div>
        @if (Model.nomStagiaire == null)
        {
            <label>
                Maître de stage : @Model.nomMds | Stagiaire: À déterminer
            </label>
        }
        else
        {
            <label>
                Maître de stage : @Model.nomMds | Stagiaire: @Model.nomStagiaire
            </label>
        }
    </div>
    <div>
        
    </div>
</div>
<div>
    <a id="horaire-ajoutPlageHoraire-button" asp-controller="Horaire" asp-action="AjoutPlageHoraireMDS">Ajout plage horaire</a>
</div>

<div class="horizontal-list">
    <vc:schedule-day horaire-id="@ViewBag.horaireId"></vc:schedule-day>
</div>