@using SPU.ViewComponents
@using SPU.ViewModels

@model HorairePageVM

@{
    int anneeEnCours = DateTime.Today.Year;
}
<div>
    <hr />
    <div style="max-width:600px; margin: 0 auto; ">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <div class="horaire-horaire-entete">
            <h2>Horaire SPU</h2>
            <label>
                Maître de stage 1 : <strong>@Model.nomMds</strong>
            </label>
            <label>
                Maître de stage 2 : <strong>N/A</strong>
            </label>
            <div>
                @if (Model.nomStagiaire == null)
                {
                    <label>
                        Stagiaire: <strong>À déterminer</strong>
                    </label>
                }
                else
                {
                    <label>
                        Stagiaire: <strong>@Model.nomStagiaire</strong>
                    </label>
                }
            </div>

            @*Maitre de stage 2*@
            @if (Model.Role == "MDS")
            {
                <label>
                    Accréditation : Du <strong>@Model.DateCreationHoraire.ToString("d MMMM yyyy")</strong> au <strong>@Model.DateExpiration.ToString("d MMMM yyyy")</strong>
                </label>
            }
            <div>
                <label>
                    Date de stage : Du <strong>@(Model.DateDebutStage.HasValue ? Model.DateDebutStage.Value.ToString("d MMMM yyyy") : "N/A")</strong> 
                    au <strong>@(Model.DateFinStage.HasValue ? Model.DateFinStage.Value.ToString("d MMMM yyyy") : "N/A")</strong>
                </label>
            </div>

        </div>
        @if (Model.Role == "MDS")
        {
            <div style="text-align: center;">
                <a id="horaire-ajoutPlageHoraire-button" asp-route-horaireId="@ViewBag.horaireId" asp-controller="Horaire" asp-action="AjoutPlageHoraireMDS">Ajout d'une plage horaire</a>
            </div>
        }
    </div>
    <br />
    <div class="horizontal-list">
        <vc:schedule-day horaire-id="@ViewBag.horaireId" mds-id="ViewBag.MDSId1"></vc:schedule-day>
    </div>
</div>