@using SPU.ViewComponents
@using SPU.ViewModels

@model HorairePageVM

@{
    int anneeEnCours = DateTime.Today.Year;
}

<hr />
<div style="width:600px; margin: 0 auto;">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    <div class="horaire-horaire-entete">
        <h2>Horaire SPU</h2>
        <div>
            <label>
                Date début de stage : @(Model.DateDebutStage.HasValue ? Model.DateDebutStage.Value.ToString("d MMMM yyyy") : "N/A") | Date fin de stage : @(Model.DateFinStage.HasValue ? Model.DateFinStage.Value.ToString("d MMMM yyyy") : "N/A")
            </label>
        </div>
@*      @if (Model.Role == "MDS")
        {
            <label>
                Date début horaire maître de stage ...
            </label>
        }*@
        <div>
            @if (Model.nomStagiaire == null)
            {
                <label>
                    Maître de stage : @Model.nomMds | Stagiaire: À déterminer
                </label>
            }
            else
            {
                <label>
                    Maître de stage : @Model.nomMds | Stagiaire: @Model.nomStagiaire
                </label>
            }
        </div>
    </div>
    @if (Model.Role == "MDS")
    {
        <div style="text-align: center;">
            <a id="horaire-ajoutPlageHoraire-button" asp-route-horaireId="@ViewBag.horaireId" asp-controller="Horaire" asp-action="AjoutPlageHoraireMDS">Ajout plage horaire</a>
        </div>
    }
</div>
<br />
<div class="horizontal-list">
    <vc:schedule-day horaire-id="@ViewBag.horaireId" mds-id="ViewBag.mdsId"></vc:schedule-day>
</div>