<div class="text-center">
<h1>Qui souhaitez vous ajouter ? </h1>
</div>
<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Manage", "Compte",
    new { }, new { @class = "btn btn-secondary" })
</div>
<div class="text-center">
    <div class="mt-2 mb-2">
        @Html.ActionLink("Stagiaire", "CreationNormal", "Compte", new { vue = "CreationNormal" }, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="mt-2 mb-2">
        @Html.ActionLink("Coordinateur", "CreationNormal", "Compte", new { vue = "CreationCoordonateur" }, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="mt-2 mb-2">
        @Html.ActionLink("Enseignant", "CreationNormal", "Compte", new { vue = "CreationEnseignant" }, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="mt-2 mb-2">
        @Html.ActionLink("Maître de stage", "CreationMDS", "Compte", null, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="mt-2 mb-2">
        @Html.ActionLink("Entreprise", "CreationEntreprise", "Compte", new { }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>