@model SPU.ViewModels.UtilisateurCreationVM

@{
    ViewData["Title"] = "S'enregistrer";
}

@* Modifier en fonction du role si coordo le back va se faire vers la page du choix de création sinon le back reste home*@
<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Index", "Home",
            new { }, new { @class = "btn btn-secondary" })
</div>

@* <h1>Pas un stagiaire, sélectionnz le rôle approprié</h1>
@Html.ActionLink("Coordinateur", "CreationNormal", "Compte", new { vue = "CreationCoordonateur" }, null)
@Html.ActionLink("Enseignant", "CreationNormal", "Compte", new { vue = "CreationEnseignant" }, null)
@Html.ActionLink("Maître de stage", "CreationMDS", "Compte", null, new { @class = "btn btn-link" })
@Html.ActionLink("Entreprise", "CreationEntreprise", "Compte", new { }, new { @class = "btn btn-primary" }) *@

@* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

<form id="user-form" asp-action="CreationNormal" asp-controller="Compte" method="post">
    <h1>Stagiaire</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label form-check m-2">
                    <input class="form-check-input" asp-for="PartagerInfoContact" /> @Html.DisplayNameFor(model => model.PartagerInfoContact)
                </label>
                <span asp-validation-for="PartagerInfoContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEcoleSelectionne" class="control-label"></label>
                <select asp-for="idEcoleSelectionne" class="form-control">
                    <option value="">Sélectionnez une école</option>
                    @foreach (var ecole in ViewBag.Ecoles)
                    {
                        <option value="@ecole.Value">@ecole.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="pwd" class="control-label"></label>
                <input asp-for="pwd" class="form-control" type="password"/>
                <span asp-validation-for="pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmationpwd" class="control-label"></label>
                <input asp-for="confirmationpwd" class="form-control" type="password"/>
                <span asp-validation-for="confirmationpwd" class="text-danger"></span>
            </div>
            <input id="role-reginput" asp-for="role" class="form-control" type="hidden" value="Stagiaire" />
            <div class="form-group">
                <div class="form-group mt-2 mb-2">
                    <input type="submit" value="Créer" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 @*    <script type="text/javascript">
        $(document).ready(function () {
            $('#user-form').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault(); // Empêcher la soumission si le formulaire n'est pas valide
                }
            });
        }); *@
    </script>
}

