@using SPU.ViewModels
@model ConnexionVM

@{
    ViewData["Title"] = "Connexion";
}

<link rel="stylesheet" href="~/css/login.css"/>

@if (TempData["LogoutSuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["LogoutSuccessMessage"]
	</div>
}
@* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

<div class="containerLogin">
	<div class="screen">
		<div class="screen__content">
			<h1>Se connecter</h1>
			<form asp-action="LogIn" asp-route-returnUrl="@ViewBag.ReturnUrl">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group login__field">
					<label asp-for="UserName" class="control-label"></label>
					<input asp-for="UserName" class="form-control login__input"/>
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>

				<div class="form-group login__field">
					<label asp-for="Pwd" class="control-label"></label>
					<input asp-for="Pwd" class="form-control login__input"/>
					<span asp-validation-for="Pwd" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label class="form-check-label form-check m-2">
						<input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
					</label>
					<span asp-validation-for="RememberMe" class="text-danger"></span>
				</div>


				<button class="form-group mt-2 mb-2 button login__submit">
					<span class="button__text">Connexion</span>
					<i class="button__icon"></i>
				</button>
				
			</form>
			@* <div class="mt-4 mb-4 buttonReg">
				@Html.ActionLink("S'inscrire", "CreationNormal", "Compte", new { }, new { @class = "btn btn-primary" })
			</div> *@
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
