@model IEnumerable<SPU.ViewModels.UtilisateurDetailVM>

@{
    ViewData["Title"] = "Gestion Utilisateurs";

}

<h1>Gérer les utilisateurs<br></h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Créer un nouvel utilisateur", "ChoixCreation", "Compte",
            new { }, new { @class = "btn btn-primary" })
</div>

<div class="mt-2 mb-2">
    @Html.ActionLink("Effectuer des liaisons", "Relier", "Compte",
            new { }, new { @class = "btn btn-primary" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @if (item.role == "MDS")
                    {
                        @Html.ActionLink("Modifier", "EditMDS", "Compte", new {id=item.Id}, new {@class = "btn btn-primary"})
                    }
                    else if (item.role == "Employeur")
                    {
                        @Html.ActionLink("Modifier", "EditEmployeur", "Compte", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Modifier", "EditUtilisateur", "Compte", new { id = item.Id}, new { @class = "btn btn-primary" })
                    }
                    <form asp-action="Remove" asp-route-id="@item.Id" asp-route-role="@item.role" class="d-inline-block">
                        <button type="button" class="btn btn-danger delete-button" data-nom="@item.Nom" data-prenom="@item.Prenom">
                            Supprimer
                        </button>
                    </form>
                    @{
                        <span hidden>
                            ViewBag.RoleVB = @item.role
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function() {
            $('.delete-button').click(function() {
                const nomComplet = $(this).data('prenom') + ' ' + $(this).data('nom') || "this item";

                const message = `Voulez-vous vraiment supprimer ${nomComplet}?`;

                if(confirm(message)) {
                    $(this).parent("form").submit();
                }
            });
        });
    </script>
}
