@model IEnumerable<SPU.ViewModels.UtilisateurDetailVM>

@{
    ViewData["Title"] = "Gestion Utilisateurs";

}
@functions {
    string GetLinkForRole(string role)
    {
        switch (role)
        {
            case "Stagiaire":
                return "https://localhost:44301/Compte/CreationNormal/b835f4a697ef4d5691e3962fbbdc41b995e1eb09281456eaefdc4173afb6274d67357f1d52b2bd38d85c9c0244eb0dcb6be37a356136c38854bcaca6a9fcbce7";
            case "MDS":
                return "https://localhost:44301/Compte/CreationMDS/7920186fc61d7c42261827c7ebcbffc737fbedb8a10dea1b239dc9f091a60c8995954eefffbc1e763d5094fa562109658ad444390b3172cfcc1fbca79a9a5635";
            case "Enseignant":
                return "https://localhost:44301/Compte/CreationNormal/dc71899a377cfc8c33599f3769b33bd81c9a5cd451c74f98439c925bd19f6c7b79a66cd595c81dda3de14e90f128f77d70e99dd9a89013d103f5b1869c56f3ce";
            case "Employeur":
                return "https://localhost:44301/Compte/CreationEmployeur/5b12e01ef175f3a61ecad6552b9aad3bff089620725cc83fb762c643a148ac2eac538fa1ddbff121ee3391bdcf252783579cfa00fee595ff207aec950b70067b";
            case "Coordonnateur":
                return "https://localhost:44301/Compte/CreationNormal/c56b210e44db6bbe01808f315a5d30077189e184158196fc25349239116c9ef67b0fedf1e721b6bb74b16e738fe47e4f008d05242e81de1d57243280464cd1e5";
            default:
                return "";
        }
    }
}


<a class="btn btn-success" asp-action="ExportContrat" asp-controller="Compte">Exporter les données</a></button>

<link rel="stylesheet" href="~/css/site.css" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<h1>Gérer les utilisateurs<br></h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Créer un nouvel utilisateur", "ChoixCreation", "Compte",
            new { }, new { @class = "btn btn-primary" })
</div>

<div class="mt-2 mb-2">
    @Html.ActionLink("Effectuer des liaisons", "Relier", "Compte",
            new { }, new { @class = "btn btn-primary" })
</div>

@if (!string.IsNullOrEmpty(ViewBag.UserListErrorMessage))
{
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.UserListErrorMessage)
    </div>
}

@* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

@* Maitre de stage *@
<br />
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Matricule
            </th>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Email
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Détails
            </th>
            <th>
                Horaire
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tr>
        <td colspan="10" class="bg-dark text-white" onclick="userDisplay('displayMds')">Maître de stage <button class="btn btn-primary copy-link" data-link="@GetLinkForRole("MDS")">Copier lien</button></td>
    </tr>
    <tbody id="displayMds" class="">
        @foreach (var item in Model)
        {
            @if (item.role == "MDS")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courriel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        <i class="fa fa-solid fa-user" style="color: #2386d1;" onclick='userDetails(@Html.Raw(Json.Serialize(item)))'></i>
                    </td>
                    <td>
                        @Html.ActionLink("Horaire", "EditMDS", "Compte", new { id = item.Id }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("Mettre à jour", "EditMDS", "Compte", new { id = item.Id }, new { @class = "btn btn-primary" })
                        
                        <form asp-action="Remove" asp-route-id="@item.Id" asp-route-role="@item.role" class="d-inline-block">
                            <button type="button" class="btn btn-danger delete-button" data-nom="@item.Nom" data-prenom="@item.Prenom">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@* Employeur *@
<br />
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Email
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Détails
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tr>
        <td colspan="10" class="bg-dark text-white" onclick="userDisplay('displayEmp')">Employeur <button class="btn btn-primary copy-link" data-link="@GetLinkForRole("Employeur")">Copier lien</button></td>
    </tr>
    <tbody id="displayEmp">
        @foreach (var item in Model)
        {
            @if (item.role == "Employeur")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courriel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        <i class="fa fa-solid fa-user" style="color: #2386d1;" onclick='userDetails(@Html.Raw(Json.Serialize(item)))'></i>
                    </td>
                    <td>
                        @Html.ActionLink("Mettre à jour", "EditEmployeur", "Compte", new { id = item.Id }, new { @class = "btn btn-primary" })
                        
                        <form asp-action="Remove" asp-route-id="@item.Id" asp-route-role="@item.role" class="d-inline-block">
                            <button type="button" class="btn btn-danger delete-button" data-nom="@item.Nom" data-prenom="@item.Prenom">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@* Stagiaire *@
<br />
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Email
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Détails
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tr>
        <td colspan="10" class="bg-dark text-white" onclick="userDisplay('displaySt')">Stagiaire <button class="btn btn-primary copy-link" data-link="@GetLinkForRole("Stagiaire")">Copier lien</button></td>
    </tr>
    <tbody id="displaySt">
        @foreach (var item in Model)
        {
            @if (item.role == "Stagiaire")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    @if (item.PartagerInfoContact)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Courriel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                    }
                    else
                    {
                        <td colspan="2"></td>
                    }
                    <td>
                        <i class="fa fa-solid fa-user" style="color: #2386d1;" onclick='userDetails(@Html.Raw(Json.Serialize(item)))'></i>
                    </td>
                    <td>
                        @Html.ActionLink("Mettre à jour", "EditUtilisateur", "Compte", new { id = item.Id }, new { @class = "btn btn-primary" })
                        
                        <form asp-action="Remove" asp-route-id="@item.Id" asp-route-role="@item.role" class="d-inline-block">
                            <button type="button" class="btn btn-danger delete-button" data-nom="@item.Nom" data-prenom="@item.Prenom">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@* Enseignant *@
<br />
<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Email
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Détails
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tr>
        <td colspan="10" class="bg-dark text-white" onclick="userDisplay('displayEns')">Enseignant <button class="btn btn-primary copy-link" data-link="@GetLinkForRole("Enseignant")">Copier lien</button></td>
    </tr>
    <tbody id="displayEns">
        @foreach (var item in Model)
        {
            @if (item.role == "Enseignant")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courriel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        <i class="fa fa-solid fa-user" style="color: #2386d1;" onclick='userDetails(@Html.Raw(Json.Serialize(item)))'></i>
                    </td>
                    <td>
                        @Html.ActionLink("Mettre à jour", "EditUtilisateur", "Compte", new { id = item.Id }, new { @class = "btn btn-primary" })

                        <form asp-action="Remove" asp-route-id="@item.Id" asp-route-role="@item.role" class="d-inline-block">
                            <button type="button" class="btn btn-danger delete-button" data-nom="@item.Nom" data-prenom="@item.Prenom">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section Scripts {
    <script>
        function userDetails(user) {
            console.log(user);
            let userDetailsHtml = `
                    <strong>Nom d'utilisateur: </strong> ${user.userName ? user.userName : 'Non disponible'}<br>
                   <strong>Nom: </strong> ${user.nom ? user.nom : 'Non disponible'}<br>
                   <strong>Prénom: </strong> ${user.prenom ? user.prenom : 'Non disponible'}<br>
            `;

            //Mds
            if (user.role === "MDS") {
                userDetailsHtml += `
                <strong>Matricule:</strong> ${user.matricule ? user.matricule : 'Non disponible'}<br>
                <strong>Civilité:</strong> ${user.civilite ? user.civilite : 'Non disponible'}<br>
                <strong>Type d'employeur:</strong> ${user.typeEmployeur ? user.typeEmployeur : 'Non disponible'}<br>
                <strong>Téléphone de maison:</strong> ${user.telMaison ? user.telMaison : 'Non disponible'}<br>
                <strong>Nom de l'employeur:</strong> ${user.nomEmployeur ? user.nomEmployeur : 'Non disponible'}<br>
                <strong>Status:</strong> ${user.status ? user.status : 'Non disponible'}<br>
                <strong>Actif:</strong> ${user.actif ? 'Oui' : 'Non'}<br>
                <strong>Accréditation:</strong> ${user.accreditation ? user.accreditation : 'Non disponible'}<br>
                <strong>Commentaire:</strong> ${user.commentaire ? user.commentaire : 'Non disponible'}<br>
                <strong>Commentaire CIUSS:</strong> ${user.commentaireCIUSS ? user.commentaireCIUSS : 'Non disponible'}<br>
            `;
            }

            //Stagiaire
            if (user.role === "Stagiaire") {
                userDetailsHtml += `
                            <strong>École: </strong> ${user.ecole ? user.ecole : 'Non disponible'}<br>
                            <strong>Email: </strong> ${user.debutStage ? user.debutStage : 'Non disponible'} <br>
                            <strong>Téléphone: </strong> ${user.finStage ? user.finStage : 'Non disponible'}<br>
                                    `;

                if (user.partagerInfoContact) {
                    userDetailsHtml += `
                           <strong>Email: </strong> ${user.courriel ? user.courriel : 'Non disponible'} <br>
                           <strong>Téléphone: </strong> ${user.telephone ? user.telephone : 'Non disponible'}<br>
                    `;
                }
            } else {
                userDetailsHtml += `
                                   <strong>Email: </strong> ${user.courriel ? user.courriel : 'Non disponible'} <br>
                                   <strong>Téléphone: </strong> ${user.telephone ? user.telephone : 'Non disponible'}<br>
                        `;
            }

            //Employeur
            if (user.role === "Employeur") {
                userDetailsHtml += `
                    <strong>Numéro de rue: </strong> ${user.numeroDeRue ? user.numeroDeRue : 'Non disponible'}<br>
                    <strong>Nom de rue: </strong> ${user.nomDeRue ? user.nomDeRue : 'Non disponible'}<br>
                    <strong>Ville: </strong> ${user.ville ? user.ville : 'Non disponible'}<br>
                    <strong>Province: </strong> ${user.province ? user.province : 'Non disponible'}<br>
                    <strong>Pays: </strong> ${user.pays ? user.pays : 'Non disponible'}<br>
                    <strong>Code postal: </strong> ${user.codePostal ? user.codePostal : 'Non disponible'}<br>
                `;
            }

            //Enseignant
            if (user.role === "Enseignant") {
                userDetailsHtml += `
                    <strong>École: </strong> ${user.ecole ? user.ecole : 'Non disponible'}<br>
                `;
            }

            Swal.fire({
                icon: "info",
                title: "Détails de l'utilisateur",
                html: userDetailsHtml
            });
        }



        /* displayEmp, displaySt, displayMds, displayEns */

        function userDisplay(ObjHiddenId) {
            var cls = document.getElementById(ObjHiddenId);
            if (cls.className === "hidden") { 
                cls.className = "";
            }
            else
            {
                cls.className = "hidden";
            }
        }


        $(function () {
            $('.delete-button').click(function () {
                const nomComplet = $(this).data('prenom') + ' ' + $(this).data('nom') || "this item";

                const message = `Voulez-vous vraiment supprimer ${nomComplet}?`;

                if (confirm(message)) {
                    $(this).parent("form").submit();
                }
            });

            $('.copy-link').click(function () {
                const link = $(this).data('link');
                const tempInput = $('<input>');
                $('body').append(tempInput);
                tempInput.val(link).select();
                document.execCommand('copy');
                tempInput.remove();
                alert('Le lien a été copié.');
            });
        });

       
    </script>
}
