@model SPU.ViewModels.UtilisateurCreationVM

@{
    ViewData["Title"] = "S'enregistrer";
}


<div>
    <h1>S'inscrire</h1>
    <button onclick="showForm('coordo')">Coordinateur</button>
    <button onclick="showForm('enseignant')">Enseignant</button>
    <button onclick="showForm('stagiaire')">Stagiaire</button>
    <button onclick="showForm('normal')">Normal</button>
    <button onclick="showForm('entreprise')">Entreprise</button>
    <button onclick="showForm('mds')">Maître de Stage</button>
</div>


<div id="form-coordo" style="display:none;">
    @Html.Partial("Partials/Coordo/InscriptionCoordo")
</div>
<div id="form-stagiaire" style="display:none;">
    @Html.Partial("Partials/Stagiaire/InscriptionStagiaire")
</div>
<div id="form-normal" style="display:none;">
    @Html.Partial("CreationNormal")
</div>
<div id="form-entreprise" style="display:none;">
    @Html.Partial("Partials/Entreprise/InscriptionEntreprise")
</div>
<div id="form-mds" style="display:none;">
    @Html.Partial("Partials/MDS/InscriptionMDS")
</div>

@section Scripts {
    <script>
        function showForm(formType) {
            document.getElementById('form-coordo').style.display = 'none';
            document.getElementById('form-stagiaire').style.display = 'none';
            document.getElementById('form-normal').style.display = 'none';
            document.getElementById('form-entreprise').style.display = 'none';
            document.getElementById('form-mds').style.display = 'none';

            var formToShow = document.getElementById('form-' + formType);
            if (formToShow) {
                formToShow.style.display = 'block';
            }
        }
    </script>
}

