@model SPU.ViewModels.UtilisateurCreationVM

@{
    ViewData["Title"] = "S'enregistrer";
}


<div>
    <h1>S'inscrire</h1>
    <button onclick="showForm('coordo', 'Coordonateur')">Coordinateur</button>
    <button onclick="showForm('enseignant', 'Enseignant')">Enseignant</button>
    <button onclick="showForm('stagiaire', 'Stagiaire')">Stagiaire</button>
    @* <button onclick="showForm('normal')">Normal</button> *@
    <button onclick="showForm('entreprise', 'Entreprise')">Entreprise</button>
    <button onclick="showForm('mds', 'MDS')">Maître de Stage</button>
</div>


<div id="form-coordo" style="display:none;">
    <h1 id="form-regtitle">Inscription Coordinateur</h1>
    @Html.Partial("CreationNormal")
</div>
<div id="form-enseignant" style="display:none;">
    <h1>Inscription Enseignant</h1>
    @Html.Partial("CreationNormal")
</div>
<div id="form-stagiaire" style="display:none;">
    <h1>Inscription Stagiaire</h1>
    @Html.Partial("CreationNormal")
</div>
@* <div id="form-normal" style="display:none;">
    @Html.Partial("CreationNormal")
</div> *@
<div id="form-entreprise" style="display:none;">
    @Html.Partial("CreationEntreprise")
</div>
<div id="form-mds" style="display:none;">
    @Html.Partial("CreationMDS")
</div>

@section Scripts {
    <script>
        function showForm(formType) {
            document.getElementById('form-coordo').style.display = 'none';
            document.getElementById('form-enseignant').style.display = 'none';
            document.getElementById('form-stagiaire').style.display = 'none';
            // document.getElementById('form-normal').style.display = 'none';
            document.getElementById('form-entreprise').style.display = 'none';
            document.getElementById('form-mds').style.display = 'none';

            var formToShow = document.getElementById('form-' + formType);
            if (formToShow) {
                formToShow.style.display = 'block';
            }
        }
    </script>
}

