@model IEnumerable<SPU.ViewModels.StagiairesEditVM>

@{
    ViewData["Title"] = "Gestion des Stagiaires";

}

<link rel="stylesheet" href="~/bootstrap.min.css/" />

<script type="text/javascript" src="~/bootstrap.min.js"></script>

<h1>Gérer les stagiaires<br></h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Gérer les utilisateurs", "Manage", "Compte",
    new { }, new { @class = "btn btn-primary" })
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prenom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enseignants)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.debutStage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.finStage)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <form asp-action="Relier" asp-controller="Compte" method="post">
                    <tr>
                        <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Prenom)
                        </td>
                        <td>
                                @* <select class="selectpicker" disabled> *@
                            <select id="selecteur" class="form-control selectpicker" name="idMdsSelectionne1" data-live-search="true">
                                <option value="">Sélectionnez le maitre de stage 1</option>
                                    @foreach (var mds in ViewBag.Mds)
                                    {
                                        if (mds.Value == item.idMdsSelectionne1?.ToString())
                                        {
                                        <option value="@mds.Value" selected="selected">@mds.Text</option>
                                        }
                                        else
                                        {
                                        <option value="@mds.Value">@mds.Text</option>
                                        }
                                    }
                            </select>
                        </td>
                        <td>
                            <select id="selecteur" class="form-control" name="idMdsSelectionne2">
                                <option value="">Sélectionnez le maitre de stage 2</option>
                                    @foreach (var mds in ViewBag.Mds)
                                    {
                                        if (mds.Value == item.idMdsSelectionne2?.ToString())
                                        {
                                        <option value="@mds.Value" selected="selected">@mds.Text</option>
                                        }
                                        else
                                        {
                                        <option value="@mds.Value">@mds.Text</option>
                                        }

                                    }
                            </select>
                        </td>
                        <td>
                            <select id="selecteur"  class="form-control" name="idEnseignantSelectionne">
                                <option value="">Sélectionnez l'enseignant</option>
                                    @foreach (var ens in ViewBag.Enseignants)
                                    {
                                        if (ens.Value == item.idEnseignantSelectionne?.ToString())
                                        {
                                        <option value="@ens.Value" selected="selected">@ens.Text</option>
                                        }
                                        else
                                        {
                                        <option value="@ens.Value">@ens.Text</option>
                                        }
                                    }
                            </select>
                        </td>
                        <td>
                                @if (item.debutStage.HasValue)
                                {
                                <input class="form-control date-input" type="date" asp-for="@item.debutStage" name="debutStage" value="@item.debutStage.Value.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                <input class="form-control date-input" type="date" name="debutStage" asp-for="@item.debutStage" />
                                }
                            <span asp-validation-for="@item.debutStage" class="text-danger"></span>
                        </td>

                        <td>
                                @if (item.finStage.HasValue)
                                {
                                <input class="form-control date-input" type="date" asp-for="@item.finStage" name="finStage" value="@item.finStage.Value.ToString("yyyy-MM-dd")" />
                                }
                                else
                                {
                                <input class="form-control date-input" type="date" name="finStage" asp-for="@item.finStage" />
                                }
                            <span asp-validation-for="@item.finStage" class="text-danger"></span>
                        </td>

                        <td>
                            <input type="hidden" name="idStagiaire" value="@item.Id" />
                            <button type="submit" class="btn btn-success">Relier</button>
                        </td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selecteur').on('input', function () {
                var filter = $(this).val().toUpperCase();
                $.ajax({
                    url: '@Url.Action("GetFilteredData", "Compte")',
                    type: 'GET',
                    data: { filter: filter },
                    success: function (data) {
                        $('#selecteur').empty(); 
                        $('#selecteur').append($('<option>').text('Choisir une option'));
                        $.each(data, function (index, value) {
                            $('#selecteur').append($('<option>').text(value).attr('value', value));
                        });
                    }
                });
            });
        });
    </script>
}
